.catalog {
  width: 320px;
  padding: 30px;
  padding-bottom: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.catalog__list {
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .catalog {
    position: relative;
    width: 768px;
    padding: 78px 50px 0 50px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 23px;
      top: -10px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .catalog__list {
    width: 668px;
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .catalog {
    width: 1150px;
    padding-top: 130px;
    box-sizing: border-box;

    &::after {
      width: 1150px;
      height: 46px;
      top: -15px;
    }
  }

  .catalog__list {
    width: 1100px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -50px;
    box-sizing: border-box;
  }
}
