.checkbox {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 62px;
  padding-bottom: 40px;
}

.checkbox__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkbox__label {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -62px;
    width: 36px;
    height: 35px;
    border: 2px solid #444444;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -47px;
    display: none;
    width: 8px;
    height: 19px;
    transform: rotate(45deg);
    border-right: 2px solid #231f20;
    border-bottom: 2px solid #231f20;
  }

  &:focus::after {
    border-color: #62d1ba;
  }

  &:active::after {
    border-color: #c7c7c7;
  }
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:focus + .checkbox__label::after {
    border-color: #62d1ba;
  }

  &:checked + .checkbox__label::before {
    display: block;
  }
}

@media (min-width: 768px) {
  .checkbox {
    width: 619px;
    font-size: 19px;
    line-height: 18px;
    padding: 0;
    padding-bottom: 13px;
    margin-left: 124px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .checkbox__item {
    width: 249px;
    margin: 0;
    margin-bottom: 57px;
    padding-left: 80px;
    box-sizing: border-box;

    &:nth-child(2n) {
      padding-left: 94px;
    }
  }

  .checkbox__label {
    &::after {
      top: -10px;
      left: -81px;
      width: 48px;
      height: 47px;
    }

    &::before {
      top: -4px;
      left: -63px;
      width: 14px;
      height: 28px;
    }

    &:hover::after {
      border-color: #62d1ba;
    }

    &:active::after {
      border-color: #c7c7c7;
    }
  }
}

@media (min-width: 1150px) {
  .checkbox {
    width: 875px;
    margin: 0;
    margin-left: -82px;
    padding: 0;
    padding-bottom: 12px;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .checkbox__item {
    width: 181px;
    margin: 0;
    margin-left: 82px;
    margin-bottom: 58px;
    padding: 0;
    box-sizing: border-box;

    &:nth-child(2n) {
      padding: 0;
    }
  }

  .checkbox__label {
    &::after {
      top: -11px;
      left: -82px;
      width: 50px;
      height: 47px;
    }

    &::before {
      top: -4px;
      left: -63px;
      width: 14px;
      height: 28px;
    }
  }
}
