.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 182px;
  padding: 0 39px;
  padding-top: 26px;
}

.copyright__text {
  font-size: 18px;
  font-weight: bold;
}

.copyright__link {
  display: block;
  width: 38px;
  height: 39px;
  margin-top: -5px;
  margin-right: -5px;
  background-image: url("../img/htmlacademy.svg");
  background-size: cover;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .copyright {
    width: 185px;
    margin-left: 75px;
    padding: 0;
  }

  .copyright__text {
    margin-top: 10px;
    font-size: 19px;
  }

  .copyright__link {
    margin-top: 5px;
    margin-right: -4px;
  }
}
