.copyright {

  width: 260px;
  padding: 0 39px;
  padding-top: 26px;
  box-sizing: border-box;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-right: -5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.copyright__image {
  width: 38px;
  height: 41px;
  margin-top: -5px;
  fill: #63d1bb;
}

@media (min-width: 768px) {
  .copyright {
    width: 185px;
    margin-left: 75px;
    padding: 0;
  }

  .copyright__link {
    margin-top: 5px;
    font-size: 19px;

    &:hover > .copyright__image {
      fill: #46c1ae;
    }
  }
}
