.copyright {
  width: 182px;
  padding: 0 39px;
  padding-top: 26px;
}

.copyright__link {
  position: relative;
  display: block;
  margin-top: -5px;
  margin-right: -5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 42px;
    top: -3px;
    right: 0;
    background-image: url("../img/htmlacademy.svg");
    background-size: cover;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .copyright {
    width: 185px;
    margin-left: 75px;
    padding: 0;
  }

  .copyright__link {
    margin-top: 10px;
    font-size: 19px;

    &::before {
      width: 38px;
      height: 41px;
      top: -5px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:hover ~ &::before {
      opacity: 1;
    }
  }
}
