.modal-basket__wrapper {
  width: 320px;
  padding: 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 10px 6px 0 #ebebeb;
  border: 1px solid #ececec;
}

.modal-basket__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.modal-basket__subtitle {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #444444;
}

.modal-basket__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-basket__checkbox {
  display: block;
  width: 80px;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 16px 0;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  border: 2px solid #ececec;

  &:hover {
    border: 2px solid #c7c7c7;
  }
}

input[type="checkbox"]:checked ~ .modal-basket__checkbox {
  border: 2px solid #63d1bb;
}

.modal-basket__btn {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 85px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

@media (min-width: 768px) {
  .modal-basket__wrapper {
    width: 578px;
  }

  .modal-basket__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .modal-basket__checkbox {
    width: 109px;
  }
}
