.page-main {
  width: 100%;
}

.page-main__title-wrapper {
  width: 100%;
  padding-top: 69px;
  padding-bottom: 76px;
  background-color: #f1f1f1;
}

.page-main__title {
  width: 320px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 24px;
  box-sizing: border-box;
}

.page-main__text {
  font-size: 13px;
  color: #444444;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .page-main__title-wrapper {
    padding-top: 95px;
    padding-bottom: 80px;
  }

  .page-main__title {
    width: 768px;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__wrapper {
    width: 100%;
    padding: 0;
  }

  .page-main__text {
    position: relative;
    display: block;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 73px;
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 30px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 23px;
      margin: 0 auto;
      top: -10px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 1150px) {
  .page-main__title-wrapper {
    padding: 95px 0;
    padding-bottom: 100px;
  }

  .page-main__title {
    width: 1150px;
    padding-left: 335px;
    text-align: left;
    box-sizing: border-box;
    font-size: 53px;
    line-height: 57px;

    &--catalog {
      padding-left: 345px;
    }
  }

  .page-main__text {
    width: 1150px;
    padding: 0 225px;
    padding-top: 124px;
    font-size: 17px;
    line-height: 30px;

    &::after {
      width: 1150px;
      height: 46px;
      top: -15px;
      left: 0;
    }
  }
}
