.row-items {
  padding-bottom: 15px;
  white-space: nowrap;

  &--gray {
    display: block;
    margin-left: -5px;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 8px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
  }
}

.row-items__cell {
  width: 83px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  &--green {
    border-bottom: 1px solid #62d1ba;
  }
}

@media (min-width: 1150px) {
  .row-items--gray {
    padding-bottom: 7px;
  }
}
