.slogan {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 70px 8px 123px 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #000000;
  font-weight: bold;
}

@media (min-width: 768px) {
  .slogan {
    width: 668px;
    margin: 0 auto;
    padding: 151px 48px 369px 60px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    box-sizing: border-box;
  }
}

@media (min-width: 1150px) {
  .slogan {
    width: 1050px;
    padding: 153px 150px 354px 172px;
    font-size: 53px;
    line-height: 57px;
    box-sizing: border-box;
  }
}
