.social {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  width: 155px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.social__link {
  display: block;

  &--instagram {
    width: 22px;
    height: 22px;
    margin-top: 9px;
    margin-left: 5px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
    margin-top: 5px;
    margin-left: 40px;
  }

  &--twitter {
    width: 24px;
    height: 21px;
    margin-top: 9px;
    margin-left: 40px;
  }

  &:hover .social__link-icon {
    fill: #46c1ae;
  }

  &:active .social__link-icon {
    opacity: 0.3;
  }
}

.social__link-icon {
  fill: #221f1f;
}

@media (min-width: 768px) {
  .social {
    border: none;
  }

  .social__list {
    width: 150px;
    margin: 0;
    margin-left: 129px;
  }
}
