.video {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 95px 30px 58px 30px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 63px;
    width: 36px;
    height: 30px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.video__title {
  content: "";
  position: absolute;
  top: -17px;
  left: 31px;
  display: block;
  width: 258px;
  min-height: 127px;
  padding: 24px 40px 25px 87px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #ececec;
  border-bottom: none;
}

.video__wrapper {
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: contain;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__btn-play {
  width: 100px;
  height: 77px;
  margin: 38px 80px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  border-radius: 22%;
  cursor: pointer;
}

.video__box {
  border: 1px solid #ececec;
  border-top: none;
}

.video__text {
  display: block;
  width: 224px;
  font-size: 13px;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  padding-left: 33px;
  box-sizing: border-box;
}

.video__btn {
  display: block;
  margin: 0 33px;
  margin-bottom: 32px;
  padding: 14px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .video {
    width: 768px;
    margin-top: -3px;
    padding: 0 50px;
    padding-bottom: 65px;
    box-sizing: border-box;

    &::after {
      top: 490px;
      left: 91px;
    }
  }

  .video__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .video__box {
    width: 666px;
    padding-top: 40px;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 0 10px 6px #ebebeb;
    }

    &:active {
      box-shadow: 0 3px 5px 0 #ebebeb;
    }
  }

  .video__title {
    width: 668px;
    min-height: 38px;
    position: relative;
    font-size: 20px;
    top: 0;
    left: 0;
    padding: 0;
    padding-left: 104px;
    margin: 0;
    border: none;
  }

  .video__wrapper {
    width: 668px;
    height: 456px;
    margin: 0;
    padding: 0;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__btn-play {
    width: 100px;
    height: 76px;
    display: block;
    margin: 190px auto;
    padding: 0;

    &:hover {
      width: 120px;
      height: 92px;
      margin: 180px auto;
    }

    &:active {
      width: 80px;
      height: 61px;
      margin: 200px auto;
      background-image: url("../img/icon-play.svg");
      opacity: 0.5;
    }
  }

  .video__text {
    width: 589px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 18px;
    margin-left: 38px;
    margin-bottom: 36px;
    padding: 0;
  }

  .video__btn {
    display: block;
    margin: 0 40px;
    margin-bottom: 43px;
    padding: 14px 10px;
    text-align: center;
  }
}

@media (min-width: 1150px) {
  .video {
    width: 1150px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 105px;

    &::after {
      top: 102px;
      left: 810px;
    }
  }

  .video__container {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .video__title {
    padding: 0;
    border: none;
    width: 152px;
    margin-bottom: 33px;
  }

  .video__wrapper {
    width: 680px;
    height: 456px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__box {
    width: 370px;
    margin: 0;
    padding: 96px 0 59px 78px;
    box-sizing: border-box;
    border: 1px solid #ececec;
  }

  .video__text {
    width: 226px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
  }

  .video__btn {
    width: 234px;
    box-sizing: border-box;
    margin: 0;
  }
}
