.week-product {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 28px;
  padding-bottom: 38px;
  box-sizing: border-box;
}

.week-product__title {
  margin-bottom: 4px;
}

.week-product__subtitle {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
  text-transform: uppercase;
}

.week-product__wrapper {
  &--col {
    padding-top: 8px;
  }
}

.week-product__text {
  color: #444444;
}

.week-product__image {
  width: 260px;
  height: 315px;
  padding-bottom: 18px;
}

.week-product__price {
  display: block;
  margin-left: 66px;
  padding-bottom: 26px;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
}

.week-product__btn {
  padding: 14px 86px;
}

@media (min-width: 768px) {
  .week-product {
    position: relative;
    width: 768px;
    padding: 0 50px;
    padding-top: 41px;
    padding-bottom: 57px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 23px;
      top: -15px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .week-product__wrapper {
    &--row {
      display: flex;
      width: 668px;
      margin-bottom: 57px;
      justify-content: space-around;
    }

    &--col {
      display: flex;
      width: 668px;
      padding: 0;
      flex-direction: column;
      background-image: url("../img/triple-set-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: right;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/triple-set-tablet@2x.jpg");
        background-size: 50%;
      }
    }
  }

  .week-product__title {
    width: 569px;
    margin: 0;
    margin-left: -3px;
  }

  .week-product__subtitle {
    display: inline-block;
    line-height: 17px;
    text-align: center;
    margin-top: 12px;
  }

  .week-product__image {
    display: none;
  }

  .week-product__text {
    display: inline-block;
    width: 282px;
    margin: 0;
    margin-top: -7px;
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__price {
    width: 274px;
    margin-left: 70px;
    padding-bottom: 34px;
    font-size: 20px;
  }

  .week-product__btn {
    width: 290px;
    margin-left: -2px;
    padding: 14px 86px;
  }
}

@media (min-width: 1150px) {
  .week-product {
    width: 1150px;
    padding-bottom: 83px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      width: 1150px;
      height: 43px;
      top: -20px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .week-product__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    background-image: url("../img/triple-set-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/triple-set-desktop@2x.jpg");
    }

    &--row {
      width: 1050px;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin: 0;
      margin-top: 54px;
      padding: 0;
      background-image: none;
    }

    &--col {
      margin-top: 55px;
      margin-left: 175px;
      background-image: none;
    }
  }

  .week-product__title {
    margin: 0;
  }

  .week-product__subtitle {
    width: 75px;
    display: block;
    margin: 15px 51px 0 44px;
  }

  .week-product__text {
    margin-bottom: 46px;
  }

  .week-product__price {
    margin-left: 72px;
    padding-bottom: 35px;
  }

  .week-product__btn {
    width: 294px;
    margin-left: -1px;
    padding: 14px 87px;
  }
}
