.about-us {
  width: 260px;
  padding: 0 30px;

  &__list {
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 260px;
    margin-bottom: 30px;
    padding-top: 55px;
  }

  &__text {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
  }
}
