.button {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #444444;
}
