.contacts {
  width: 320px;
  margin-bottom: 40px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.contacts__table {
  height: 177px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.contacts__btn {
  display: block;
  margin: 0 30px;
  padding: 14px 52px;
}

@media (min-width: 768px) {

  .contacts {
    width: 668px;
    margin: 0;
    margin-bottom: 56px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 45px;
    margin-bottom: 45px;
  }

  .contacts__table {
    height: 140px;
    margin: 0;
    padding-bottom: 60px;
  }

  .contacts__btn {
    display: block;
    width: 154px;
    padding: 14px 38px;
    margin-left: 265px;
    text-align: center;
  }
}

@media (min-width: 1250px) {

  .contacts {
    width: 1050px;
    margin: 161px 0 40px 0;
    padding: 0 100px;
  }

  .contacts__title {
    width: 265px;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 65px;
    padding-left: 170px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
  }

  .contacts__btn {
    display: block;
    width: 154px;
    padding: 14px 38px;
    margin-top: -105px;
    margin-left: 175px;
    text-align: center;
  }
}
