.copyright {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.copyright__text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}

.copyright__link {
  display: block;
  width: 30px;
  height: 40px;
  background-color: #63d1bb;
}

@media (min-width: 768px) {
  .copyright {
    width: 185px;
  }

  .copyright__text {
    font-size: 19px;
  }
}
