.main-nav {
  position: relative;

  &--closed .main-nav__toggle {
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    padding: 0;
    top: 26px;
    left: 269px;
    background-color: #ffffff;
    border: none;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &--opened .main-nav__toggle {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    padding: 0;
    top: 23px;
    left: 268px;
    background-color: #ffffff;
    border: none;
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.main-nav__wrapper {
  width: 320px;
  border-top: 1px solid #ececec;
}

.main-nav__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding: 16px 0 16px 0;
}

@media (max-width: 767px) {
  .main-nav {
    &--closed .main-nav__wrapper {
      display: none;
    }

    &--nojs .main-nav__wrapper {
      display: block;
    }

    &--nojs .main-nav__toggle {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 668px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__wrapper {
    width: 348px;
    display: flex;
    flex-direction: column-reverse;
    border: none;
  }

  .main-nav__logo {
    width: 112px;
    margin: 0;
    margin-left: -2px;
    padding: 0;
    padding-top: 25px;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }

  .main-nav .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    width: 1050px;

    &::before {
      content: "";
      position: absolute;
      top: 45px;
      left: 140px;
      width: 90px;
      border-bottom: 1px solid #ececec;
      transform: rotate(90deg);
    }
  }

  .main-nav__wrapper {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -90px;
  }

  .main-nav__logo {
    position: absolute;
    width: 148px;
    top: -15px;
    left: 452px;
    z-index: 10;
  }

  .main-nav__logo-image {
    width: 148px;
    height: 73px;
  }
}
