.page-footer {
  width: 260px;
  padding: 30px 30px 20px 30px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {

  .page-footer {
    width: 768px;
    padding: 50px 0;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 105px;
  }

  .page-footer__copyright {
    width: 185px;
  }
}

@media (min-width: 1150px) {

  .page-footer {
    width: 1150px;
    padding: 42px 0;
  }
}

@media (min-width: 1250px) {

  .page-footer {
    width: 1250px;
    padding: 42px 0;
  }
}
