.page-main {
  width: 320px;

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    padding: 73px 46px;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    background-color: #f1f1f1;
  }

  &__text {
    display: block;
    font-size: 13px;
    color: #444444;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    padding: 0 30px;
  }
}
