.product {
  width: 259px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid #ececec;
}

.product__link {
  display: block;
  margin-bottom: 19px;
}

.product__image {
  width: 258px;
  height: 195px;
}

.product__box {
  width: 205px;
  margin: 0 28px 28px 26px;
}

.product__title {
  display: block;
  margin-bottom: 7px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.product__param {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 19px;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}

.product__price {
  display: inline-block;
  width: 180px;
  font-weight: bold;
}

.product__btn {
  width: 25px;
  height: 24px;
  font-size: 0;
}

@media (min-width: 768px) {
  .product {
    width: 666px;
    margin-bottom: 54px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #ececec;
  }

  .product__link {
    width: 333px;
    height: 332px;
    margin: 0;
    border: none;

    &:hover + .product__box {
      box-shadow: 0 0 10px 6px #ebebeb;
    }

    &:active + .product__box {
      box-shadow: 0 10px 6px 0 #ebebeb;
    }
  }

  .product__image {
    width: 333px;
    height: 332px;
  }

  .product__box {
    width: 331px;
    margin: 0;
    padding: 24px 50px 20px 25px;
    box-sizing: border-box;
    border: none;

    &:hover {
      box-shadow: 0 0 10px 6px #ebebeb;
    }

    &:active {
      box-shadow: 0 10px 6px 0 #ebebeb;
    }
  }

  .product__title {
    font-size: 20px;
    margin-bottom: 5px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .product__param {
    font-size: 15px;
  }

  .product__inner {
    width: 271px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 174px;
    margin-left: 7px;
    padding-top: 22px;

    &--shot {
      margin-top: 149px;
    }
  }

  .product__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .product {
    width: 316px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    border: 1px solid #ececec;
  }

  .product__link {
    width: 314px;
    height: 463px;
  }

  .product__image {
    width: 314px;
    height: 463px;
  }

  .product__box {
    width: 312px;
    box-sizing: border-box;
    padding: 0;
    padding-top: 25px;
  }

  .product__title {
    margin-left: 25px;
  }

  .product__param {
    margin-left: 25px;
  }

  .product__inner {
    width: 259px;
    display: flex;
    justify-content: space-between;
    margin: 37px 0 26px 26px;
    padding: 0;
    padding-top: 22px;
    box-sizing: border-box;

    &--shot {
      margin-top: 13px;
    }
  }
}
