.product {
  margin-bottom: 30px;
  border: 2px solid #ececec;

  &__link {
    display: block;
    margin-bottom: 18px;
  }

  &__image {
    width: 258px;
    height: 195px;
  }

  &__box {
    width: 205px;
    margin: 0 28px 28px 28px;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }

  &__param {
    font-size: 13px;
    line-height: 30px;
    color: #444444;
  }

  &__inner {
    margin-top: 28px;
    padding-top: 30px;
    border-top: 1px solid #ececec;
  }

  &__price {
    font-weight: bold;
  }
}
