.promo {
  width: 320px;
  background-color: #fafafa;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../img/hero-mobile@1x.jpg");

  &__list {
    width: 320px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__title {
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    width: 260px;
    padding: 28px 30px;
    background-color: #3bb09d;
    }

  &__title--light-green {
    background-color: #63d1bb;
  }

  &__title--dark-green {
    background-color: #56c3b2;
  }
}
