.radiobutton {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 63px;
  padding-bottom: 17px;
}

.radiobutton__item {
  margin-bottom: 24px;
}

.radiobutton__input {
  display: none;
}

@media (min-width: 768px) {
  .radiobutton {
    width: 334px;
    font-size: 19px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    padding-left: 212px;
    padding-bottom: 13px;
  }

  .radiobutton__item {
    width: 421px;
    margin-bottom: 57px;
  }
}

@media (min-width: 1150px) {
  .radiobutton {
    padding: 0;
    padding-left: 80px;
    padding-bottom: 11px;
  }
}
