.radiobutton__label {
  font-size: 17px;
  font-weight: bold;
}

.radiobutton__input {
  display: none;
}

@media (min-width: 768px) {
  .radiobutton__item {
    width: 421px;
    margin-bottom: 37px;
    padding: 15px 0 0 25px;
  }

  .radiobutton__label {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: 1150px) {
  .radiobutton__label {
    padding-left: 54px;
  }
}
