.reviews {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 65px;
  box-sizing: border-box;
}

.reviews__wrapper {
  position: relative;
  margin-bottom: 35px;
}

.reviews__container {
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
}

.reviews__text {
  margin-bottom: 26px;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #444444;
}

.reviews__user {
  font-size: 17px;
}

.reviews__email {
  display: block;
  margin-top: 6px;
  font-size: 17px;
  color: #444444;
}

.reviews__btn {
  content: "";
  position: absolute;
  top: 526px;
  padding: 14px 81px;
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
    width: 768px;
    padding: 79px 50px 48px 47px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45% 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    box-sizing: border-box;
  }

  .reviews__container {
    margin: 0;
  }

  .reviews__text {
    width: 649px;
    font-size: 17px;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 58px;
  }

  .reviews__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .reviews__user {
    font-size: 18px;
  }

  .reviews__btn {
    position: relative;
    top: 0;
    left: 0;
    margin-right: -2px;
    padding: 14px 39px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1150px;
    padding: 0 50px;
    box-sizing: border-box;
    background-image: none;
  }

  .reviews__wrapper {
    width: 1050px;
    justify-content: space-between;
    padding: 73px 0 100px 175px;
    box-sizing: border-box;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 33% 100%;

   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__container {
    margin-top: 44px;
  }

  .reviews__title {
    margin-left: -4px;
  }

  .reviews__text {
    width: 770px;
    margin: 0;
    padding: 0;
  }

  .reviews__inner {
    margin-top: 39px;
  }

  .reviews__btn {
    width: 99px;
    margin: 0;
    margin-top: 8px;
    padding: 14px 36px;
  }
}
