.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  width: auto;
  padding: 28px 45px;
  border-bottom: 1px solid #ececec;

  &--new {
    display: none;
  }

  &--sale {
    display: none;
  }
}

.site-list__link {
  display: block;
  width: 260px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;
}

@media (min-width: 768px) {
  .site-list {
    &--bottom {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: -321px;
      padding-top: 19px;
    }

    &--top {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .site-list__item {
    width: 167px;
    margin: 0;
    padding: 0;
    border: none;

    &--search {
      width: 82px;
      height: 90px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &--basket {
      margin: 0;
      margin-top: 33px;
      margin-left: 82px;
      box-sizing: border-box;
      white-space: nowrap;
    }
  }

  .site-list__link {
    width: 167px;
    font-size: 15px;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }

    &--search {
      font-size: 0;
    }

    &--basket {
      font-size: 17px;
    }
  }
}

@media (min-width: 1150px) {
  .site-list {
    margin: 0;
    padding: 0;
    padding-top: 122px;

    &--bottom {
      width: 377px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--top {
      width: 350px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .site-list__item {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 51px;

    &--order {
      padding-left: 8px;
    }

    &--sale {
      padding-left: 8px;
    }

    &--search {
      width: 86px;
      margin-top: -32px;
    }

    &--basket {
      width: 264px;
      padding-left: 80px;
    }
  }

  .site-list__link {
    margin: 0;
    padding: 0;

    &--catalog {
      font-size: 17px;
    }

    &--order {
      font-size: 17px;
    }
  }
}
