.slider__controls {
  width: 260px;
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.slider__control {
  width: 50%;
  height: 50px;
  margin-bottom: 54px;
  background-color: #ffffff;
  border: 1px solid #ececec;

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 768px) {
  .slider__controls {
    content: "";
    position: absolute;
    display: flex;
    width: 176px;
    top: 360px;
    right: 50px;
  }

  .slider__control {
    width: 50%;
    height: 48px;
    margin-bottom: 38px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 1250px) {
  .slider__controls {
    content: "";
    position: absolute;
    display: flex;
    width: 176px;
    top: 310px;
    right: 50px;
  }
}
