@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open San";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;

  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

@import "normalize";
@import "container";
@import "page-header";
@import "main-nav";
@import "site-list";
@import "page-main";
@import "promo";
@import "slogan";
@import "title";
@import "week-product";
@import "table-items";
@import "row-items";
@import "about-us";
@import "reviews";
@import "slider";
@import "contacts";
@import "email";
@import "address";
@import "map";
@import "button";
@import "catalog";
@import "product";
@import "video";
@import "form";
@import "radiobutton";
@import "checkbox";
@import "page-footer";
@import "social";
@import "copyright";
@import "modal";
@import "modal-basket";
@import "visually-hidden";
