.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
