.video {
  width: 260px;
  margin-bottom: 58px;
  padding: 0 30px;
}

.video__title {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  padding: 35px 43px 25px 90px;
  border: 1px solid #ececec;
  border-bottom: none;
}

.video__wrapper {
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
}

.video__btn-play {
  width: 90px;
  height: 67px;
  margin: 45px 80px;
  background-color: #62d1ba;
  border: 5px solid #ffffff;
  border-radius: 20%;
}

.video__box {
  border: 1px solid #ececec;
  border-top: none;
}

.video__text {
  display: block;
  font-size: 13px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 36px;
}

.video__btn {
  display: block;
  margin: 0 35px;
  margin-bottom: 30px;
  padding: 16px 18px;
  text-align: center;
}

@media (min-width: 768px) {

  .video {
    width: 768px;
    padding: 0;
  }

  .video__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .video__title {
    font-size: 20px;
    padding-left: 103px;
  }

  .video__wrapper {
    width: 668px;
    height: 456px;
    background-image: url("../img/video-tablet@1x.jpg");
  }

  .video__box {
    margin: 0 50px;
  }

  .video__btn-play {
    width: 101px;
    height: 76px;
    display: block;
    margin: 190px auto;
    padding: 0;
    text-align: center;
  }

  .video__text {
    font-size: 15px;
    line-height: 30px;
    padding-top: 9px;
    padding-left: 40px;
  }

  .video__btn {
    display: block;
    margin: 0 40px;
    margin-bottom: 50px;
    padding: 15px 10px;
    text-align: center;
  }
}

@media (min-width: 1150px) {

  .video {
    position: relative;
    width: 1050px;
  }

  .video__container {
    width: 1050px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .video__title {
    width: 220px;
    padding: 95px 68px 0 80px;
    padding-top: 95px;
    padding-left: 80px;
    padding-right: 68px;
    border: 1px solid #ececec;
  }

  .video__wrapper {
    width: 680px;
    height: 456px;
    background-image: url("../img/video-desktop@1x.jpg");
  }

  .video__box {
    content: "";
    position: absolute;
    bottom: 60px;
    right: 10px;
    width: 234px;
    margin: 0;
    padding: 0;
    border: none;
  }

  .video__text {
    margin: 0;
    padding: 0;
  }

  .video__btn {
    margin: 0;
    margin-top: 45px;
  }

}
